<!-- header 1-6 Titulos  -->

<!-- ul -> unordered list-->
<!-- ol -> ordered list-->
<!-- <div *ngIf="roles">
  


  <h1> {{roles[0].nombre}} </h1>-->

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
        crossorigin="anonymous">

</head>


<div class="container" *ngIf="roles">
  
  <!-- <div class="container"> -->
  
  <ul class="nav nav-pills nav-fill">
    
    <li class="nav-item"
        *ngIf="_autenticacionRS.esAdministrador(roles)">
      
      <!-- <li> -->
      <!-- a -> anchor -> ancla -->
      <a class="nav-link active"
         routerLink="/home/gUsuarios">Gestion de Usuarios
      </a>
    
    </li>
    <br>
    
    <li class="nav-item" *ngIf="_autenticacionRS.esUsuario(roles)">
      <!-- <li>-->
      <a class="nav-link "
         routerLink="/home/gPacientes">Gestion de Pacientes
      </a>
    </li>
    
    <!-- <li *ngIf="_autenticacionRS.esUsuario(roles)"> -->
    <li class="nav-item" *ngIf="_autenticacionRS.esUsuario(roles)">
      
      <a class="nav-link active"
         routerLink="/home/gMedicamentos">Gestion de Medicamentos
      </a>
    </li>
    
    <li class="nav-item" *ngIf="_autenticacionRS.esCajero(roles)">
      
      <a class="nav-link"
         routerLink="/home/gEventos">Gestion de Eventos</a>
    </li>
    
    <!-- <li *ngIf="_autenticacionRS.escliente(roles)"> -->
    <li class="nav-item" *ngIf="_autenticacionRS.escliente(roles) || _autenticacionRS.esCajero(roles)">
      
      <a class="nav-link active"
         routerLink="/home/listaFacturas">Gestion de Facturas</a>
    </li>
  
  
  </ul>
  
  
  <br>
  
  <br>
  <router-outlet></router-outlet>
  
  <br>
  <br>
  
  <footer>Proyecto EPN</footer>
</div>


</html>











