<div class="container">
  <h3>Lista De Facturas</h3>
  
  <br>
  
  <div>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th> Nombre Cliente</th>
        <th> Fecha</th>
        <th> Total</th>
        <th> Tipo de Pago</th>
        <th> Acciones</th>
      </tr>
      </thead>
      
      <tr *ngFor="let f of  facturas">
        <td> {{f.nombre }} </td>
        <td> {{f.fecha}} </td>
        <td> {{f.total}} </td>
        <td> {{f.tipoPago}} </td>
        <td>
          <a [routerLink]="['/home','gFacturas',f.id]">
            <button>Ver Factura</button>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
