<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
</head>

<body>

<div class="container">
  <h3>Lista De Facturas</h3>
  <div>
    <table class="table">
      
      <tr>
        <th> Nombre del que Emitio </th>
        <th> Fecha </th>
        <th> Total</th>
      </tr>
      
      <tr *ngFor="let f of  facturas">
        <td> {{f.nombre }} </td>
        <td> {{f.fecha}} </td>
        <td> {{f.total}} </td>
        <td> {{f.tipoPago}} </td>
        <td>
          <a [routerLink]="['/home','gFacturas',f]">
            <button>Ver Factura</button>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
