<p>
  formulario-paciente works!
</p>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
</head>

<body>

<div class="container">
  <h3> Registro </h3>
  
  <p> Registrese </p>
  
  
  <form #userForm="ngForm"
        novalidate
        (submit)="emitirFormularioValido(selectOPC.value)">
    
    <div>
      <p *ngIf="nombreControl.errors"> Campo Nombre:
        <span *ngIf="nombreControl.errors.required "> Vacio </span>
        <span *ngIf="nombreControl.errors.pattern"> Solo se permiten letras </span>
      </p>
      
      <p *ngIf="correoControl.errors"> Campo apellido :
        <span *ngIf="correoControl.errors.required "> Vacio </span>
        <span *ngIf="correoControl.errors.pattern"> Solo se permiten letras</span>
      </p>
      
      <p *ngIf="fechaControl.errors"> Fecha:
        <span *ngIf="fechaControl.errors.required"> Campo vacio</span>
        <span *ngIf="fechaControl.errors.pattern"> No es una fecha valida </span>
      </p>
      
      <p *ngIf="numerosControl.errors"> Fecha:
        <span *ngIf="numerosControl.errors.required"> Campo vacio</span>
        <span *ngIf="numerosControl.errors.pattern"> Solo numeros </span>
      </p>
      
      <p *ngIf="userForm.invalid">
        Se debe completar el formulario
      </p>
      <p *ngIf="userForm.valid">
        Formulario Listo
      </p>
    </div>
    
    <div>
      <label for="nombre"> Nombre </label>
      <input id="nombre"
             name="nombre"
             type="text"
             placeholder="Ingrese el nombre"
             [(ngModel)]="nombrePaciente"
             #nombreControl="ngModel"
             required pattern="^[a-zA-Z_áéíóúñ\s]*$">
    </div>
    
    <div>
      
      <label for="apellido"> Apellido </label>
      
      <input id="apellido"
             name="apellido"
             type="text"
             placeholder="Ingrese el apellido"
             [(ngModel)]="apellidosPaciente"
             #correoControl="ngModel"
             required pattern="^[a-zA-Z_áéíóúñ\s]*$">
    
    </div>
    
    
    <div>
      <label for="fN"> Fecha de Nacimiento </label>
      
      <input id="fN"
             name="fN"
             type="text"
             placeholder="Ingrese la fecha"
             [(ngModel)]="fechaNacPaciente"
             #fechaControl="ngModel"
             required
             pattern="^(?:(?:(?:0?[1-9]|1\d|2[0-8])[/](?:0?[1-9]|1[0-2])|(?:29|30)[/](?:0?[13-9]|1[0-2])|31[/](?:0?[13578]|1[02]))[/](?:0{2,3}[1-9]|0{1,2}[1-9]\d|0?[1-9]\d{2}|[1-9]\d{3})|29[/]0?2[/](?:\d{1,2}(?:0[48]|[2468][048]|[13579][26])|(?:0?[48]|[13579][26]|[2468][048])00))$">
    </div>
    
    <div>
      <label for="numeroHijos"> numero de Hijos </label>
      <input id="numeroHijos"
             name="numeroHijos"
             type="text"
             placeholder="Ingrese la fecha"
             [(ngModel)]="numeroHijosPaciente"
             #numerosControl="ngModel"
             required pattern="[0-9]">
    </div>
    
    <div>
      <label for="seguroSocial"> Seguro Social </label>
      <select name="seguroSocial"
              id="seguroSocial"
                #selectOPC>
        <option value=1>Si</option>
        <option value=0>No</option>
      </select>
    </div>
    
  
    <button type="reset"> Limpiar Campos </button>
    
    <button type="submit"
            [disabled]="userForm.invalid">
            {{nombreBoton}}
    </button>
  
  
  </form>

</div>
