<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
        crossorigin="anonymous">

</head>

<body>
<div class="container"
     *ngIf="usuarioActualizar"
>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <br>
          <h3>Usuario</h3>
          <h6>{{usuarioActualizar.nombre}}</h6>
          <h6>{{usuarioActualizar.correo}}</h6>
          <h6>{{usuarioActualizar.fechaNacimiento}}</h6>
          <h6>{{usuarioActualizar.password}}</h6>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-4">
      <tr>
        <!-- tr -- table header-->
        <th>Roles del Usuario</th>
      </tr>
      
      <tr *ngFor="let u of usuarioActualizar.roles">
        <td > {{u.nombre}} </td>
        <td>
          <button (click)="eliminarRolUsuario(u.id)">
            X
          </button>
        </td>
      </tr>
    </div>
    
    <div class="col-md-4">Agregar nuevo Rol
      <div class="card">
        <div class="form-group">
          
          <select class="form-control"
                  #rolesOpc>
            
            <option
              *ngFor="let r of roles" [value]=r.id> {{r.nombre}}
            </option>
          </select>
        
        </div>
        <button type="button" class="btn btn-primary" (click)="agregarRol(rolesOpc.value)">
          Agregar nuevo Rol
        </button>
      </div>
    </div>
  
  
  </div>

</div>

</body>

</html>
